{% extends "base.html" %}

{% block content %}
  <!-- <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div> -->
  <div class="row">
    <div class="col-4 cell">
      <div id="cell1"></div>
    </div>
    <div class="col-4 cell cell-mid">
      <div id="cell2"></div>
    </div>
    <div class="col-4 cell">
      <div id="cell3"></div>
    </div>
  </div>
{% endblock %}
