{% extends "base.html" %}

{% block content %}
  <!-- <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div> -->
  <div class="row mt-3">
    <div class="col-4 cell">
      <div>
        <b>Current Conditions:</b><br/>
        {{ payload['minutely']['summary'] }}
      </div>
    </div>
    <div class="col-4 cell cell-mid">
      <div>
        <b>Temperature:</b><br/>
        {{ (payload['currently']['temperature'] | round) | int }}&deg;
      </div>
    </div>
    <div class="col-4 cell">
      <div>
        <b>Humidity:</b><br/>
        {{ (payload['currently']['humidity'] * 100 | round) | int }}%
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 cell cell-vert-mid">
      <div>
        <b>Pressure:</b><br/>
        {{ (payload['currently']['pressure'] | round) | int }} mb
      </div>
    </div>
    <div class="col-4 cell cell-mid cell-vert-mid">
      <div>
        <b>Wind Speed:</b><br/>
        {{ '%0.1f' | format(payload['currently']['windSpeed'])}} mph
      </div>
    </div>
    <div class="col-4 cell cell-vert-mid">
      <div>
        <b>Wind Bearing:</b><br/>
        {{ payload['currently']['windBearing'] }}&deg;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 cell">
      <div>
        <b>Forecast:</b><br/>
        {{ payload['daily']['data'][0]['summary'] }}
      </div>
    </div>
    <div class="col-4 cell cell-mid">
      <div>
        <b>Chance of Rain:</b><br/>
        {{ (payload['daily']['data'][0]['precipProbability'] * 100 | round) | int}}%
      </div>
    </div>
    <div class="col-4 cell">
      <div>
        <b>Forecast Humidity:</b><br/>
        {{ (payload['daily']['data'][0]['humidity'] * 100 | round) | int }}%
      </div>
    </div>
  </div>
{% endblock %}
